.skillsMain {
  display        : flex;
  justify-content: center;
  align-items    : center;

  .skills {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-wrap      : wrap;
    max-width      : 800px;
  }

  .skillSection {
    width          : 150px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
  }
}